
# Mac OSX Files
.DS_store

# Visual Studio Code files
yolov3.code-workspace

# key files
keys/*.key
keys/Icon?

# media files
*.avi

# virtualenv stuff 
bin/
etc/
lib/
share/
pyvenv.cfg
.Python

#Prep Data items
etl/*.csv

#Model Eval items -- Not Ready
model_eval/draft/
model_eval/__pycache__/

# Weights files
config/*.weights
config/previous_weights/

#Labelbox project labeled csv
config/*.csv