# created by virtualenv automatically
# Mac OSX Files
.DS_store

# Visual Studio Code files
yolov3.code-workspace

# key files
keys/*.key
keys/Icon

# media files
*.avi

# virtualenv stuff 
bin/
etc/
lib/
share/
pyvenv.cfg

#Prep Data items
etl/currency_lblbx_data.csv

#Model Eval items -- Not Ready
model_eval

# Weights files
config/*.weights